// vertical rhythm
$base-font-size: 16px;
$base-line-height: 24px;
$relative-font-sizing: false;

@import "compass/reset";
@import "compass";
@import "susy";

$total-columns  : 4;
$column-width   : 72px;
$gutter-width   : 24px;
$grid-padding   : $gutter-width;

$desktop: 30em 6;

@mixin replace-text-with-svg($image-name) {
  display: block;
  @include replace-text-with-dimensions("#{$image-name}.png");
  background-image: none, image-url("#{$image-name}.svg");
  width: auto;
  height: 0px;
  padding-top: 18.631178707%;
  @include background-size(contain);
}

img {
  display: block;
  max-width: 100%;
  @include trailer(1);
  @include at-breakpoint($desktop) {
    max-width: 50%;
    &.a {
      float: right;
      margin: 0 0 1em 1em;
    }
    &.b {
      float: left;
      margin: 0 1em 1em 0;
    }
  }
}

html, body {
  height: 100%;
  font-family: "AvenirNext-Regular", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  background-color: white;
}

.container {
  @include container( $total-columns, $desktop );
  position: relative;
  @include pie-clearfix;
}

.header {
  @include pie-clearfix;
  height: 80%;
  .container {
    height: 100%;
    background: image-url("newday.jpg") no-repeat center center;
    @include background-size(cover);
  }
}

.logo {
  margin: 0 auto;
  @include replace-text-with-svg("logo");
  position: absolute;
  top: 22.5%;
  left: 0;
  width: 100%;
  @include at-breakpoint($desktop) {
    // position: static;
    margin-top: 0;
    // @include leader(3);
    // @include trailer(2);
  }
}

.ribbon {
  @include trailer(1);
  border: 1px solid black;
  border-width: 1px 0;
  padding: 5px 0;
  &.last {
    margin-bottom: 0;
  }
}
.ribbon-inner {
  border: 1px dashed black;
  border-width: 1px 0;
  height: 36px;
  background: image-url("slogan.png") repeat-x -500% center;
  background-image: none, image-url("slogan.svg");
}

.text {
  max-width: 800px;
  margin: 0 auto;
  @include trailing-border(1px, 1.5);
  @include trailer(2);
  p {
    @include adjust-font-size-to(15px);
    @include trailer(1);
  }
  h3 {
    letter-spacing: 1px;
    @include adjust-font-size-to(18px);
    @include leader(2);
    @include trailer(1);
    font-weight: bold;
    text-align: center;
  }
  @include at-breakpoint($desktop) {
    // text-align: center;
    @include leader(2);
    h3 {
      @include adjust-font-size-to(18px, 1.5);
    }
  }
}

.download {
  @include trailer(1);
  @include pie-clearfix;
  h2 {
    text-align: center;
    @include adjust-font-size-to(16px);
    @include trailer(1);
  }
  .download-pdf {
    a {
      display: block;
      text-align: center;
      margin: 0 auto;
      @include padding-leader(.5);
      @include padding-trailer(.5);
      @include adjust-font-size-to(15px);
      @include border-radius(4px);
      border: 1px solid black;
      text-decoration: none;
      color: black;
      max-width: 20em;
      @include trailer(1/4);
    }
    a:hover {
      background: black;
      color: white;
      text-decoration: none;
    }
    p {
      @include adjust-font-size-to(13px);
      text-align: center;
      @include trailer(1);
      b {
        font-family: monospace;
      }
    }
    @include at-breakpoint($desktop) {
      @include span-columns(3);
      @include nth-omega();
    }
  }
}

.share {
  text-align: center;
  a {
    @include inline-block;
    background: black;
    color: white;
    text-align: center;
    padding: .5em 2em;
    text-decoration: none;
    @include adjust-font-size-to(15px);
  }
  a:hover {
    text-decoration: none;
  }
  @include leader(2);
  @include trailer(2);
  .download + & {
    @include leader(1);
  }
}

.foot {
  padding: 0 2em;
  text-align: center;
  @include padding-leader(1);
  @include padding-trailer(1);
  @include pie-clearfix;
  p {
    @include trailer(.5);
    @include leader(.5);
  }
  .banner {
    @include inline-block;
    padding: 0;
    margin: 0 auto;
    img {
      @include reset-box-model;
      max-width: 100%;
      display: block;
    }
  }
  @include adjust-font-size-to(12px, 3/4);
  @include at-breakpoint($desktop) {
    max-width: 70%;
    margin: 0 auto;
  }
  a {
    @include link-colors(black);
  }
}
