meta charset="utf-8"

title 讓晨曦照亮民主 A New Day Will Come

meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"
meta name="format-detection" content="telephone=no"

meta content="讓晨曦照亮民主 A New Day Will Come" property="og:title"
meta content="讓晨曦照亮民主 A New Day Will Come" property="og:site_name"
meta content="我們沒有上街頭，不代表不關心政治。只是身不由己，在面對人生、工作、教書、或是服務人民。我們都希望政府能夠更透明、開放、用心傾聽民意，做出對的決策。" property="og:description"

meta content="http://newday.tw/" property="og:url"
meta content="http://newday.tw/images/fb.jpg" property="og:image"

link href="stylesheets/screen.css" rel="stylesheet" type="text/css"

