
.header
  .container
    h1.logo 讓晨曦照亮民主 A New Day Will Come


.ribbon
  .ribbon-inner


.share
  a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('http://newday.tw'), 'facebook-share-dialog', 'width=626,height=436'); return false;" facebook 分享


.container
  .text

    markdown:
      我們沒有上街頭，並非政治冷感。

      只是身不由己，在面對人生、工作、教書、或是服務人民。
      我們都希望政府能夠更透明、開放、用心傾聽民意，做出對的決策。
      但是廣大的民眾已經在立法院坐了好幾天，每夜都在等待「明日的晨曦，是否會變好？」
      政府仍然已讀不回。

      為了讓每個默默在辦公室、學校、甚至公務人員，都能夠參與這次的行動，
      這裡提供下載設計稿，自助輕鬆列印，剪貼後就能戴在手上。

      我們可以選擇大方的綁在肩臂上，勇敢展示對黑箱服貿的態度。
      也可以低調的藏在衣袖裡，視狀況微微露出，小聲表態也是一種表態！

      讓我們一起支持在立法院的夥伴：

      ### 讓晨曦照亮民主 <br> A New Day Will Come

.download
  .container
    h2 下載列印，PDF 格式
    .download-pdf.a4
      h3= link_to "A4 size", "images/newday-ribbon-a4.pdf"
      p 直接 ibon 取件號碼：<b>594 302 1597</b>
    .download-pdf.a3
      h3= link_to "A3 size", "images/newday-ribbon-a3.pdf"
      p 直接 ibon 取件號碼：<b>204 304 1563</b>

.share
  a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('http://newday.tw'), 'facebook-share-dialog', 'width=626,height=436'); return false;" facebook 分享


.ribbon.last
  .ribbon-inner
